#project{
    width: 310px;
    background-color: whitesmoke;
}

.projectBody{
    height: 400px;
    overflow-y: scroll;
}

.taskBody{
    height: 400px;
}

.project-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.submit-buttons{
    margin-right: 10px;
    float: right;
}

.tab-name {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#exportWarning{
    display: none;
}

#importBox{
    display: none;
}

textarea { 
    height:100%;
}