body{
    width: 300px;
    background-color: whitesmoke;
}

.projectBody{
    height: 400px;
    overflow-y: scroll;
}

.submit-buttons{
    margin-right: 10px;
    float: right;
}

.project-name {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.tab-name {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}